In [1]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [2]:
#importar dados
dataset = pd.read_csv("tempo.csv", sep=";")
#visulizar
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [3]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [6]:
dataset.loc[(dataset['Umidade']) < 0 | (dataset['Umidade'] > 100)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [21]:
dataset[dataset.isnull().any(axis=1)]

  Aparencia  Temperatura  Umidade  Vento Jogar
3     chuva           70      NaN  FALSO   sim
9     chuva           75    200.0    NaN   sim

In [18]:
dataset.groupby(['Vento']).size()

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [34]:
moda = dataset['Vento'].mode()
dataset['Vento'].fillna('FALSO', inplace=True)

In [38]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [32]:
dataset['Vento'].fillna(moda, inplace=True)

In [36]:
mediana = sts.median(dataset['Umidade'])
mediana

85.5

In [37]:
dataset['Umidade'].fillna(mediana, inplace=True)

In [45]:
dataset.loc[(dataset['Temperatura'] <  -130 )  | ( dataset['Temperatura'] >  130) ]
mediana = sts.median(dataset['Temperatura'])
mediana

73.5

In [46]:
dataset['Temperatura'].fillna(mediana, inplace=True)

In [48]:
dataset['Temperatura'].describe()
dataset.loc[(dataset['Temperatura'] <  -130 )  | ( dataset['Temperatura'] >  130), 'Temperatura'] = mediana

In [49]:
dataset['Temperatura'].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [50]:
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [52]:
dataset.loc[dataset['Aparencia'] ==  'Sol', 'Aparencia'] = "sol"
#visualiza o resultado
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64